<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndb.booksManagementBack.mapper.CategoryMapper">
	<insert id="createCategory">
		INSERT INTO categories(category_name) VALUES (#{categoryName});
	</insert>
	
	<select id="getCategoryCntByName">
		SELECT COUNT(*) FROM categories WHERE category_name = #{categoryName};
	</select>
	
	<select id="getAllCategories">
		SELECT * FROM categories;
	</select>
	
	<delete id="deleteById">
		DELETE FROM categories WHERE id = #{id}
	</delete>
	
	<update id="plusUseCount">
		UPDATE categories
  		SET use_count = use_count + 1
  		WHERE id = #{id}
	</update>
	
	<update id="minusUseCount">
		UPDATE categories
		SET use_count = use_count - 1
		WHERE id = #{id} AND use_count > 0;
	</update>
</mapper>